/* Gruvbox Dark Theme Colors for Waybar */
/* Normal colors */
@define-color green #b8bb26;
@define-color orange #fe8019;
@define-color yellow #fabd2f;
@define-color red #cc241d;


@define-color background #282828;
@define-color background-button #3c3836;
@define-color foreground #ebdbb2;
@define-color workspace-hover #928374;
@define-color workspace-active #fb4934;
@define-color clock-background #83a598;



