@import "colors.css";

* {
    font-family: FontAwesome, FiraCodeNerdFont, Noto Sans, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#waybar.empty #window {
    background: none;
}

#window {
    background-color: @background-button;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: @background;
    border: none;
}

#workspaces button {
    margin-left: 3px;
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
    border-radius: 100%;
    transition: all 0.5s ease;
    background: @background-button;
}

#workspaces button:hover {
    background: @workspace-hover;
}

#workspaces button.focused {
    background-color: @workspace-active;
    font-weight: bold;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: @background-button;
    border-bottom: 3px solid @foreground;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-work-time,
#mpd {
    padding: 0 15px;
    border-radius: 20px;
    color: @foreground;
    background-color: @background-button;
    transition: all 0.5s ease;
}

#tray {
    margin-left: 20px;
}

#clock {
    background-color: @clock-background;
    color: @background;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: @background;
    }
}

#battery {
    color: @background;
    transition: background-color 10s ease, color 10s ease;
}

#battery.high {
    background-color: @green;
}

#battery.medium {
    background-color: @yellow;
}

#battery.low {
    background-color: @orange;
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @background;
}

#temperature.critical {
    background-color: @red;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}
