* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, FiraCodeNerdFont, Noto Sans, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    color: #f8f8f2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.solo {
    background-color: #f8f8f2;
}
*/
#waybar.empty #window {
    background: none;
}

#window {
    background-color: #44475A;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #282A36;
    border: none;
}


#workspaces button {
    margin-left: 3px;
    padding: 0 5px;
    background-color: transparent;
    color: #f8f8f2;
    border-radius: 100%;
    transition: all 0.5s ease;
    background: #44475A;
}

#workspaces button:hover {
    background: #6272A4;
}

#workspaces button.focused {
    background-color: #FF79C6;
    font-weight: bold;
}

#workspaces button.urgent {
    background-color: #FF5555;
}

#mode {
    background-color: #44475A;
    border-bottom: 3px solid #f8f8f2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-work-time,
#mpd {
    padding: 0 15px;
    border-radius: 20px;
    color: #F8F8F2;
    background-color: #44475A;
    transition: all 0.5s ease;
}

#tray {
    margin-left: 20px;
}


/*
#network {
    color: #282A36;
    background-color: #8BE9FD;
}
#cpu {
    color: #282A36;
    background-color: #FFB86C;
}
#memory {
    color: #282A36;
    background-color: #50FA7B;
}
#backlight {
    color: #282A36;
    background-color: #50FA7B;
}
*/
#clock {
    background-color: #BD93F9;
    color: #282A36;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #f8f8f2;
        color: #282A36;
    }
}

#battery {
    color: #282A36;
    transition: background-color 10s ease, color 10s ease;
}
#battery.high {
    background-color: #50FA7B;
}

#battery.medium {
    background-color: #F1FA8C;
}

#battery.low {
    background-color: #FFB86C;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #f8f8f2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #282A36;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#temperature.critical {
    background-color: #eb4d4b;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}
